In [ ]:
#Q1
'''there are two types of comment
    1)single line comment 
    2)double line comment'''
-->#example for single line 
-->'''example for
    multiline comment'''

In [1]:
#Q2
''' variables in python are that store data values'''
#assigning value
x=3
y="akshita"
print(x)
print(y)

3
akshita

In [3]:
#Q3
'''we convert by using several built in function'''
x=7
y=float(x)
z=str(x)
print(y)
print(z)

7.0
7

In [7]:
#Q5
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

In [9]:
#Q6
'''comlpex number are expressed in the form of a+ib where i is an imaginary number '''
a=8+6j
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
8.0
6.0

In [ ]:
#Q7
age=25

In [10]:
#Q8
price=9.99
print(type(price))

<class 'float'>

In [11]:
#Q9
name="akshita"
print(name)
print(type(name))

akshita
<class 'str'>

In [12]:
#Q10
a="hello,world!"
a[6:11]

'world'

In [17]:
#Q11
is_student=true
bool(is_student)
print(type(is_student))

NameError: name 'true' is not defined