In [1]:
#Q1
cricket=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("In-Place Sort: ",cricket.sort(key = lambda x : x[1]))
print(cricket)

In-Place Sort:  None
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [7]:
#Q2
lis=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squa=list(map(lambda x:x**2,lis))
print(squa)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Q3
lis=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
t=tuple(map(lambda x:str(x),lis))
print(t)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
#Q4
import functools
lis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a*b, lis))

The sum of the list elements is : 15511210043330985984000000

In [14]:
#Q5
list_1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list (filter (lambda x: (x % 2 == 0 and x%3==0), list_1))
print ('Numbers that are divisible by 2 and 3 are:', result)

Numbers that are divisible by 2 and 3 are: [6, 60, 90, 120]

In [18]:
#Q6
list_1 = ['python', 'php', 'aba', 'radar', 'level']
result = list (filter (lambda x:(x == "".join(reversed(x))),  list_1))
print ('List of palindromes:', result)

List of palindromes: ['php', 'aba', 'radar', 'level']